@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
:root {
  --main-color: #00315E;
  --white-color: #fff;
  --second-color: #4FB7B3;
  --third-color: #6EC1E4;
  --text-color: #000;
  --font-family-font-1: "Cairo";
  --font-family-font-4: "Montserrat";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-font-1) sans-serif;
  min-height: 100vh;
}

h1,h2,h3,p {
  margin: 0;
}

.cursor-pointer { cursor: pointer; }
